{% load static %}
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">
<body>

<div class="navbar">
  <a href=""><img src=" {%static '/images/logo.png' %}" style="width:120px; height: 17.5px;" alt="Mero-Sathi"></a>
  <a class="active" href="{% url 'index' %}"><i class="fa fa-fw fa-home"></i> Home</a>
  {% if request.user.is_authenticated %}
    <button style="float: right; margin-top:6px;"><a href="{% url 'logout' %}">Logout<i class="fa fa-sign-out"></i></a></button> 
    <button style="float: right; margin-top:6px;"><a href="{% url 'user' %}">Profile<i class="fa fa-user"></i></a></button> 
    {% else %}
    <button style="float: right; margin-top:6px;"><i class="fa fa-fw fa-user"></i><a href="{% url 'register' %}">Signup</a></button>
    <button style="float: right; margin-top:6px;"><i class="fa fa-fw fa-user"></i><a href="{% url 'login' %}">Login</a></button>
  {% endif %}
  <div style="float: right; margin-top: 6px;"class="search-container">
    <form action="">
      <input type="text" style="width:30em;"placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
{% block content %}

{% endblock %}

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html> 
